    <div class="postit">
        <div class="postit_title">
            {{titolo}}
        </div>
        <hr style="border: 1px dashed grey">

        <div class="postit_content">
            {{body}}
        </div>

        <div class="postit_footer">
            <div class="story_points">
                {{peso}}
            </div>

            <div class="story_owner">
                {{owner}}
                <img src="image.jpeg" style="height: 30px">
            </div>
        </div>
    </div>


