<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <style>
        .postit {
            height: 300px;
            width: 400px;
            background-color: pink;
            border: 1px solid black;
            position: relative;
            display:inline-block;
        }
        .postit_title {
            background-color: deeppink;
            font-size: 40px;
            text-align: center;
            font-family: Verdana
        }
        .postit_content {
            font-family: Verdana;
            font-size: 20px;
            text-align: justify;
            margin-top: 20px;
            margin-left: 40px;
            margin-right: 40px
        }
        .postit_footer {
            background-color: black;
            position: absolute;
            color: white;
            bottom: 0; width: 100%; height: 40px
        }
        .story_points {
            font-size: 38px;
            font-family: Verdana;
            margin-left: 10px;
            width: 100px
        }
        .story_owner {
            position: absolute; right: 0; top: 0
        }
    </style>

</head>
<body>

{{{body}}}

</body>
</html>